<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-lx-6">
        <p><strong>NOTA:</strong></p>
        <p>Sr(a), Padre de familia, es importante realizar la reserva de las terapias con anticipación, para
          brindarle la fecha(s) y horario(s) disponibles que su niño(a) llevará la Terapia.</p>
        <p><strong>Recomendaciones:</strong></p>
        <li>Asistir 5 minutos antes de la hora programada.</li>
        <li>Máximo 3 personas</li>
        <li>Tocar el timbre</li>

      </div>
      <div class="col col-lx-6">
        <p><strong>IMPORTANTE:</strong></p>
        <p>Las sesión(es) que no se realicen en la(s) fecha(s) programada(s) (por inasistencia del niño(a)), será
          Reprogramada(s) de acuerdo a la disponibilidad de horarios (fuera de los horarios ya reservados).</p>

      </div>
    </div>
  </div>
</div>

<div class="card ">
  <div class="card-header bg-danger">
    <div class="row">
      <div class="col col-sm-12">
        <span style="color:#eee"><strong>FORMAS DE PAGO <br></strong>
          <li> Depósito en Agente y/o Transferencia.</li>
          <li> Pago Link (Para pagos con tarjetas de Crédito, solicita tu Pago link).</li>

          <p>El comprobante de pago debe enviarlo al correo de <strong><a style="color:#eee"
              href="mailto:paqariterapias@gmail.com">paqariterapias@gmail.com</a></strong> y/o Whatsapp: <strong><a style="color:#eee" target="_blank"
              href="https://wa.me/?phone=51954885797">954885797</a></strong> ,
            indicando apellidos, nombres y Nº DNI del niño(a) y del apoderado.</p>
        </span>
      </div>
      <div class="col col-sm-12">
        <p style="color:#eee"><strong>DATO IMPORTANTE:</strong></p>
        <p style="color:#eee">Los pagos que realice por ventanilla del banco tienen un costo adicional de S/9.00,
          este debe ser agregado en el pago total a realizar.</p>
      </div>
      <div class="col col-sm-6">
        <p style="color:#eee">Titular de la cuenta:<strong> Karol Escobar Vegas</strong></p>
        <span style="color:#eee">
          Banco lnterbank <br>
          <li>Cuenta de.Ahorro. Nº 898-3155278-120</li>
          <li>Código Interbancario Nº 003-898-013155278120-48</li>
        </span>
      </div>
      <div class="col col-sm-6">
        <p><strong>&nbsp;</strong></p>
        <span style="color:#eee">
          Banco de Crédito del Perú - BCP <br>
          <li>Cuenta de.Ahorro. Nº 193-40227613-051</li>
          <li>Código Interbancario Nº 00219314022761305112</li>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="card ">
  <div class="card-header">
    <div class="row">
      <div class="col col-sm-12">
        <p><strong>Nos encontramos:</strong></p>
        <p>Jr. Diez Canseco 3441 Piso 3 Urb. Conde villa - San Martin de Porres – Lima.
          Link Google Maps: <a href="https://goo.gl/maps/NDGKAe41aXg7p4R3A"
            target="_blank">https://goo.gl/maps/NDGKAe41aXg7p4R3A</a>
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15609.013635928432!2d-77.0827129!3d-12.0260674!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6c3d4082e45eb73!2sTerapia%20de%20Lenguaje%20-%20PAQARI%20TERAPIAS!5e0!3m2!1ses-419!2spe!4v1648844769630!5m2!1ses-419!2spe"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>