<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-lx-6">
        <p><strong>NOTA:</strong></p>
        <span>Sr(a), Padre de familia, es importante realizar la reserva de la fecha, hora y modalidad que su niño(a)
          llevara la Terapia.</span>
      </div>
      <div class="col col-lx-6">
        <p><strong>IMPORTANTE:</strong></p>
        <span>Las sesión(es) que no se realicen en la(s) fechas programadas, deberan ser REPROGRAMADAS de acuerdo a la
          disponibilidad de horarios (fuera de los horarios ya reservados).</span>
      </div>
    </div>
  </div>
</div>

<div class="card ">
  <div class="card-header bg-danger">
    <div class="row">
      <div class="col col-sm-6">
        <span style="color:#eee"><strong>FORMA DE PAGO - DEPÓSITO Y/O TRANSFERENCIA <br>
            * BANCO INTERBANK : CUENTA DE AHORRO: 898 - 3155278 - 120 <br>
            * BANCO CRÉDITO DEL PERU - BCP CUENTA DE AHORRO: 193 - 40227613 - 051 <br>
            -TITULAR DE LA CUENTA A NOMBRE : KAROL ESCOBAR VEGAS</strong></span>
      </div>
      <div class="col col-sm-6">
        <span style="color:#eee">Una vez realizado el pago, debe adjuntar su constancia de pago y/o comprobante al
          siguinte correo: paqariterapias@gmail.com
          Debe colocar los apellidos, nombres y Nro DNI del niño(a); tambien indicar el numero de sesion(es) que esta
          pagando.</span>
      </div>
    </div>
  </div>
</div>