<div class="container-fluid">
  <div class="row">
     <div [class]="tamano">
      <div class="card">
        <div class="card-header card-header-danger">
          <h3 class="card-title">DATOS DEL PACIENTE</h3>
          <p class="card-category">Completa tus datos</p>
        </div>
        <div class="card-body">
          <form [formGroup]="clienteForm">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Nombres y apellidos <strong class="color-ast">*</strong></mat-label>
                  <input matInput formControlName="Nombres">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Correo <strong class="color-ast">*</strong></mat-label>

                  <input matInput type="email" formControlName="Correo">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Contrase&ntilde;a de cuenta" [type]="hide ? 'password' : 'text'"
                    type="password" formControlName="contrasena">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <i class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <mat-label>Documento identidad <strong class="color-ast">*</strong></mat-label>

                  <input matInput type="text" formControlName="DocIdentidad">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <mat-label>Fecha de nacimiento <strong class="color-ast">*</strong></mat-label>
                  <input matInput [matDatepicker]="picker"
                    formControlName="FechaNaci">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false" [touchUi]="true"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sexo <strong class="color-ast">*</strong></mat-label>

                  <mat-select formControlName="Sexo">
                    <mat-option *ngFor="let item of sexo" [value]="item.sexo">{{item.sexo}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Colegio" type="text" formControlName="Colegio">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Direccion <strong class="color-ast">*</strong></mat-label>

                  <input matInput type="text" formControlName="Direccion">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Referencia" type="text" formControlName="Referencia">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Celular <strong class="color-ast">*</strong></mat-label>

                  <input matInput type="text" formControlName="Telefono">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Nacionalidad <strong class="color-ast">*</strong></mat-label>

                  <mat-select formControlName="idpais">
                    <mat-option *ngFor="let item of paises" [value]="item.idPais">{{item.Pais}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Departamento <strong class="color-ast">*</strong></mat-label>

                  <mat-select formControlName="Dpto">
                    <mat-option (click)="ListarProvincias(this.clienteForm.controls.Dpto.value)"
                      *ngFor="let item of departamentos" [value]="item.Codigo">{{item.Descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Provincia <strong class="color-ast">*</strong></mat-label>

                  <mat-select formControlName="Prov">
                    <mat-option
                      (click)="ListarDistrito(this.clienteForm.controls.Dpto.value + this.clienteForm.controls.Prov.value)"
                      *ngFor="let item of provincias" [value]="item.Codigo">{{item.Descripcion}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Distrito <strong class="color-ast">*</strong></mat-label>

                  <mat-select formControlName="Dist">
                    <mat-option *ngFor="let item of distritos" [value]="item.Codigo">{{item.Descripcion}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Alergias o enfermedad cronica * (maximo 200 caracteres)"
                    formControlName="Observaciones"
                    maxlength="200"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Gustos y preferencias *  (maximo 200 caracteres)"
                    formControlName="Preferencias"
                    maxlength="200"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12">

                <button *ngIf="!isButton" mat-raised-button (click)="ActualizarCliente()"
                  [disabled]="!clienteForm.valid"
                  class="btn btn-danger float-right">
                  Actualizar datos</button>
              </div>

            </div>


            <hr>
            <mat-tab-group>
              <mat-tab label="Familiares">
                <div class="container-fluid">
                  <div class="card card-header">


                    <button *ngIf="!isButton" mat-mini-fab color="accent" (click)="addFamiliar()">
                      <mat-icon>add</mat-icon>
                    </button>
                    <br>
                    <table class="table">
                      <thead>
                        <th><strong>Nombres</strong></th>
                        <th class="text-center"><strong>DNI</strong></th>
                        <th class="text-center"><strong>Direccion</strong></th>
                        <th class="text-center"><strong>Acciones</strong></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of familiaresF;let i = index">
                          <td>{{item.Nombres}}</td>
                          <td class="text-center">{{item.DocIdentidad}}</td>
                          <td class="text-center">{{item.Direccion}}</td>
                          <td class="text-center">
                            <button [disabled]="isButton" mat-icon-button color="accent" (click)="editFamiliar(i)">
                              <mat-icon>edit</mat-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <div *ngIf="mostrar">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header card-header-danger">
                        <h3 class="card-title">DATOS DEL FAMILIAR</h3>
                        <p class="card-category">Completa los datos</p>
                      </div>
                      <div class="card-body">
                        <form [formGroup]="familiaresForm">
                          <div class="row">

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Nombres y apellidos <strong class="color-ast">*</strong></mat-label>

                                <input matInput formControlName="Nombres">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Correo <strong class="color-ast">*</strong></mat-label>

                                <input matInput type="email" formControlName="correo">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Ocupacion" type="email" formControlName="Ocupacion">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <mat-form-field class="example-full-width">
                                <mat-label>Documento identidad <strong class="color-ast">*</strong></mat-label>

                                <input matInput type="text"
                                  formControlName="DocIdentidad">
                              </mat-form-field>
                            </div>
                            <div class="col-md-2">
                              <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="picker1" placeholder="Fecha de nacimiento"
                                  formControlName="FechaNaciFam">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 disabled="false" [touchUi]="true"></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Sexo <strong class="color-ast">*</strong></mat-label>

                                <mat-select formControlName="sexo">
                                  <mat-option *ngFor="let item of sexo" [value]="item.sexo">{{item.sexo}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Parentesco <strong class="color-ast">*</strong></mat-label>

                                <mat-select formControlName="Parentesco">
                                  <mat-option *ngFor="let item of familiares" [value]="item.familiar">{{item.familiar}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-2">
                              <mat-form-field class="example-full-width">
                                <mat-label>Celular <strong class="color-ast">*</strong></mat-label>

                                <input matInput type="text"
                                  formControlName="Celular">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Direccion <strong class="color-ast">*</strong></mat-label>

                                <input matInput type="text" formControlName="Direccion">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Referencia" type="text" formControlName="Referencia">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Telefono <strong class="color-ast">*</strong></mat-label>

                                <input matInput type="text" formControlName="Telefono">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Departamento <strong class="color-ast">*</strong></mat-label>

                                <mat-select formControlName="Dpto">
                                  <mat-option (click)="ListarProvinciasF(this.familiaresForm.controls.Dpto.value)"
                                    *ngFor="let item of departamentosF" [value]="item.Codigo">{{item.Descripcion}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Provincia <strong class="color-ast">*</strong></mat-label>

                                <mat-select formControlName="Prov">
                                  <mat-option
                                    (click)="ListarDistritoF(this.familiaresForm.controls.Dpto.value + this.familiaresForm.controls.Prov.value)"
                                    *ngFor="let item of provinciasF" [value]="item.Codigo">{{item.Descripcion}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Distrito <strong class="color-ast">*</strong></mat-label>

                                <mat-select formControlName="Dist">
                                  <mat-option *ngFor="let item of distritosF" [value]="item.Codigo">{{item.Descripcion}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Observaciones (maximo 200 caracteres)"
                                  formControlName="Observaciones"
                                  maxlength="200"></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">

                            <div class="col-md-12">

                              <button *ngIf="!isButton" mat-raised-button (click)="AddOrUpdateFamiliar()"
                                [disabled]="!familiaresForm.valid"
                                class="btn btn-danger float-right">
                                {{ add ? 'Agregar familiar': 'Actualizar datos de familiar'}}
                              </button>
                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </div>
      </div>
    </div> 


    <div *ngIf="mostrares" class="col-md-3">
      <div class="card card-profile">
        <div class="card-body">
          <h6 class="card-category text-gray">Encuesta</h6>
          <h4 class="card-title"> Informacion a conocer</h4>

          <form [formGroup]="encuestaForm">

            <div class="row">
              <div class="col-md-12">
                <p>¿C&oacute;mo se enteraron del consultorio de Terapia de Lenguaje "Paqari"?</p>
                <mat-form-field>
                  <mat-select formControlName="idPublicidad">
                    <mat-option *ngFor="let it of publicidades" [value]="it.idPublicidad">{{it.TipoPublicidad}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="encuestaForm.controls.idPublicidad.value == 7">
                  <input matInput type="text" formControlName="ComoEntero">
                </mat-form-field>
              </div>
            </div>



            <div class="row">
              <div class="col-md-12">
                <p>¿Se le hizo f&aacute;cil llegar al consultorio?</p>

                <mat-radio-group formControlName="Facilllegar">
                  <mat-radio-button value="1">Si</mat-radio-button>
                  <mat-radio-button value="0">No</mat-radio-button>
                </mat-radio-group>
                <mat-form-field *ngIf="encuestaForm.controls.Facilllegar.value == '0'">
                  <input matInput type="text" formControlName="AccesoConsultorio">
                </mat-form-field>

              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <p>¿Recibi&oacute; Terapia de Lenguaje anteriormente?</p>

                <mat-radio-group formControlName="RecibioTerapiaAnt">
                  <mat-radio-button value="1">Si</mat-radio-button>
                  <mat-radio-button value="0">No</mat-radio-button>
                </mat-radio-group>
                <mat-form-field *ngIf="encuestaForm.controls.RecibioTerapiaAnt.value == '1'">
                  <input matInput type="text" formControlName="TerapiaAnt">
                </mat-form-field>

              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <p>¿Recibi&oacute; otro tipo de terapia?</p>


                <mat-radio-group formControlName="RecibioOTerapiaAnt">
                  <mat-radio-button value="1">Si</mat-radio-button>
                  <mat-radio-button value="0">No</mat-radio-button>
                </mat-radio-group>
                <mat-form-field *ngIf="encuestaForm.controls.RecibioOTerapiaAnt.value == '1'">
                  <input matInput type="text" formControlName="OtraTerapiaAnt">
                </mat-form-field>

              </div>
            </div>



            <div class="row">

              <div class="col-md-12">
                <p>¿Por Cu&aacute;nto tiempo?</p>

                <mat-form-field class="example-full-width">
                  <input matInput type="text" formControlName="TiempoTerapia">
                </mat-form-field>
              </div>
            </div>
            <div class="row">

              <div class="col-md-12">
                <p>Indique. ¿Por qu&eacute; dej&oacute; de asistir?</p>

                <mat-form-field class="example-full-width">
                  <input matInput type="text" formControlName="MotivoDejTerapiaAnt">
                </mat-form-field>
              </div>
            </div>
          </form>
          <button (click)="RegistrarEncuesta()" [disabled]="!encuestaForm.valid" class="btn btn-danger btn-round">Enviar</button>


        </div>
      </div>
    </div>

  </div>
</div>