<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h3 class="card-title">DATOS DEL PACIENTE</h3>
          <p class="card-category">Completa tus datos</p>
        </div>
        <div class="card-body">
          <form [formGroup]="clienteForm">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Nombres y apellidos" formControlName="Nombres">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Correo" type="email" formControlName="Correo">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Contrase&ntilde;a de cuenta" [type]="hide ? 'password' : 'text'"
                    type="password" formControlName="contrasena">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <i class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Documento identidad" type="text" formControlName="DocIdentidad">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento"
                    formControlName="FechaNaci">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false" [touchUi]="true"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Colegio" type="text" formControlName="Colegio">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Direccion" type="text" formControlName="Direccion">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Referencia" type="text" formControlName="Referencia">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Nacionalidad" formControlName="idpais">
                    <mat-option *ngFor="let item of paises" [value]="item.idPais">{{item.Pais}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-select   placeholder="Departamento" formControlName="Dpto">
                    <mat-option (click)="ListarProvincias(this.clienteForm.controls.Dpto.value)" *ngFor="let item of departamentos" [value]="item.Codigo">{{item.Descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-select  placeholder="Provincia" formControlName="Prov">
                    <mat-option (click)="ListarDistrito(this.clienteForm.controls.Dpto.value + this.clienteForm.controls.Prov.value)" *ngFor="let item of provincias" [value]="item.Codigo">{{item.Descripcion}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-select  placeholder="Distrito" formControlName="Dist">
                    <mat-option  *ngFor="let item of distritos" [value]="item.Codigo">{{item.Descripcion}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Alergias o enfermedad cronica * (maximo 200 caracteres)"
                    formControlName="Observaciones"
                    maxlength="200"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Gustos y preferencias *  (maximo 200 caracteres)"
                    formControlName="Preferencias"
                    maxlength="200"></textarea>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button (click)="ActualizarCliente()" [disabled]="!clienteForm.valid" class="btn btn-danger">
              Actualizar datos</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
  </div>
</div>